body {
background: linear-gradient(to left, #ffa17f, #00223e);
}
img {
width: 64px !important;
height: 64px !important;
}
.userTrackBox {
float: right;
position: relative;
margin: 0;
top:0px;
bottom:0px;
width: 448px;
height: auto;
}

img {
opacity: 0.6;
filter: alpha(opacity=40);
zoom: 1;

/* For IE8 and earlier */
}
img:hover {
opacity: 8.0;
filter: alpha(opacity=70);
}
.userTrackBox {
line-height: 0;
-webkit-column-count: 7;
-webkit-column-gap: 0px;
-moz-column-count: 7;
-moz-column-gap: 0px;
column-count: 7;
column-gap: 0px;
}
